<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Launchbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Launchbar.Properties.Settings>
      <setting name="AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarBottom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarLeft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarRight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BarTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarOpacity" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="ContextMenuScale" serializeAs="String">
        <value>1.3</value>
      </setting>
      <setting name="BarTopSecondary" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarRightSecondary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BarBottomSecondary" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarLeftSecondary" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QuickLaunch" serializeAs="String">
        <value>True</value>
      </setting>
    </Launchbar.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
