<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <!-- Prevent NuGet from adding downloaded packages to source control https://docs.microsoft.com/en-us/nuget/consume-packages/packages-and-source-control -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>